# no .a files
*.a

# but do track lib.a, even though you're ignoring .a files above
!lib.a

# ignore all files in the build/ directory
build/

# ignore all files in the .idea/ directory
.idea/

# ignore all files in the out/ directory
out/

# no .iml files
*.iml